<div class="character-summary-header">
  <button class="create-character-btn" (click)="openCharacterCreator()">
    <span class="btn-icon">➕</span>
    <span class="btn-text">Create New Character</span>
  </button>
</div>

<div class="character-summaries-grid style-2"
     cdkScrollable
     style="height: calc(100% - 100px);">

  <ng-container *ngIf="(characterList$ | async)?.length > 0; else noCharacters">
    <div class="cards-container">
      <character-summary
        *ngFor="let character of (characterList$ | async); trackBy: trackCharactersBy"
        [character]="character"
        [id]="character?.id">
      </character-summary>
    </div>
  </ng-container>
  
  <ng-template #noCharacters>
    <div class="fe-card fe-card-border"
         style="width: calc(100% - 25px); min-width: 780px; margin: 3px;">NO CHARACTERS
    </div>
  </ng-template>
</div>
