.character-summaries {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 0;
    scroll-behavior: smooth;
    margin-bottom: 8px;
  }

  .vscroll-viewport {
    margin-top: 60px;
    height: 800px !important; /* Ensure height is applied */
    overflow-y: auto;
  }

  character-summary-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }