<div class="character-summary-container">
    <div class="character-link-wrapper"
         (click)="onSelect($event)">
      <span><b>{{character?.biography?.name}}</b></span>
    </div>
  
    <!-- -------------------------------- JOB SPECS --------------------------------- -->
    <div class="job-summary-wrapper">
      <div class="detail-grid">
        <span class="detail-item-1 detail-item-a"><b>Class&nbsp;</b></span>
        <span class="detail-item-1 detail-item-b">{{character?.currentClass?.name}}</span>
  
        <span class="detail-item-1"
              class="detail-item-d"><b>Attack&nbsp;</b></span>
        <span class="detail-item-1"
              class="detail-item-e">{{ character?.attack }}</span>
  
        <span class="detail-item-2 detail-item-a"><b>Personal Ability&nbsp;</b></span>
        <span class="detail-item-2 detail-item-b">{{ character?.personalAbility?.name }}</span>
  
        <span class="detail-item-2"
              class="detail-item-d"><b>Crit&nbsp;</b></span>
        <span class="detail-item-2"
              class="detail-item-e">{{ character?.crit }}</span>
  
        <span class="detail-item-3 detail-item-a"><b>Equipped Weapon&nbsp;</b></span>
        <span class="detail-item-3 detail-item-b">{{character?.equippedWeapon?.name}}</span>
  
        <span class="detail-item-3 detail-item-d"><b>Avoid&nbsp;</b></span>
        <span class="detail-item-3 detail-item-e">{{character?.avoid}}</span>
      </div>
    </div>  
  </div>
