:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --primary-color: #2196f3;
    --secondary-color: #CC0000;
    --button-bg: #e0e0e0;
    --button-text: #000000;
    --card-bg: #f5f5f5;
    --input-bg: #ffffff;
    --input-border: #cccccc;
    --background-image: url('/assets/light-parchment-paper.jpg');
  }
  
  [data-theme="dark"] {
    --bg-color: #212121;
    --text-color: #ffffff;
    --primary-color: #63b4f6;
    --secondary-color: #ff5e3e;
    --button-bg: #333333;
    --button-text: #ffffff;
    --card-bg: #282829;
    --input-bg: #333333;
    --input-border: #777777;
    --background-image: url('/assets/dark-parchment-paper.jpg');
  }
  
  /* Apply to body */
  body {
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-color);
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
    overflow-y: auto; /* Allow vertical scrolling */
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

h1,
h2,
h3 {
  font: 400 1rem/2rem 'Segoe UI', "Helvetica Neue", sans-serif;
  margin: 0 0px;
}

label {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif !important;
}

span {
  // font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: normal;
}

// Disables background when a modal is open
body:has(.cdk-global-overlay-wrapper)>app-root {
  pointer-events: none;
}

.se-modal-json {
  display: flex;
  height: auto;
  left: auto;
  position: absolute !important;
  max-width: auto;
  font-size: 13px;
  color: #777;
  letter-spacing: 1px;
}

.cdk-drag-preview {
  overflow: hidden !important;
}

  /* Apply to Material and buttons */
  button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    filter: brightness(90%);
  }
  
  mat-card {
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
  }
  
  mat-form-field {
    background-color: var(--input-bg) !important;
    border-color: var(--input-border) !important;
  }
  
  input {
    background-color: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--input-border);
    padding: 8px;
    border-radius: 5px;
  }  

.fe-card-border {
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  border-radius: 4px;
  border: 3px white solid;
  padding: 4px 4px 4px 6px;
}

.fe-card {
  display: flex;
  flex-direction: column;
  width: auto;
}

.style-2::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: #F5F5F5;
  }
  
  .style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: lightgray;
  }
  
  .style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }